body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

h1 {
  margin: 0 0 .5em;
  background-color: red;
  color: white;
  padding: .5em 16px;
}

h1 a {
  color: white;
  text-decoration: none;
}

.container {
  margin: 16px;
}

button {
  font-size: 2em;
  cursor: pointer;
  margin: 0 .5em .5em 0;
  color: white;
}

#results {
  padding-left: 0;
}

#results:after {
  content: ' ';
  display: block;
  clear: both;
}

#results li {
  color: white;
  list-style: none;
  line-height: 22px;
  padding: .25em .5em;
  margin: 0 .5em .5em 0;
  float: left;
  border-radius: 1em;
  border: solid 1px black;
  width: 16px;
  height: 22px;
  text-align: center;
}

button[data-color="yellow"],
#results li.yellow {
  background-color: yellow;
  color: black;
}
button[data-color="red"],
#results li.red {
  background-color: red;
}
button[data-color="orange"],
#results li.orange {
  background-color: orange;
}
button[data-color="blue"],
#results li.blue {
  background-color: blue;
}
button[data-color="violet"],
#results li.violet {
  background-color: violet;
}

.dices button {
  width: 2em;
  height: 2em;
}

.reset {
  padding: .25em 1em;
  color: black;
}
