body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

h1 {
  margin: 0 0 .5em;
  background-color: red;
  color: white;
  padding: .5em 16px;
}

h1 a {
  color: white;
  text-decoration: none;
}

.container {
  margin: 16px;
}

button {
  font-size: 16px;
  cursor: pointer;
}

button#reset {
  font-size: 16px;
  color: black;
}
